body 
{
background-image: url(https://fastly.picsum.photos/id/889/1080/720.jpg?hmac=UQUWxZ3XbMlWvwoOJhDtoEZyFVUrZBaK_ZWl6xVclO8)
}

form 
{
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
  background: rgba(0,0,0,0.7); 
}
label
{
  display: block;
  margin-bottom: 1px;
}

.email
{
text-align: left;
}

.password
{
  text-align: left;
}

.remember
{
  margin-top: -5px;
  text-align: left;
}

.enterpass
{
  margin-top: -16px;
  
}
.enteremail
{
  margin-top: -16px;

}

.remeberme
{
  text-align: right;
}

input[type="submit"]
{
  display: block;
  width: 80%;
  margin: 1em auto;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: green;
  text-align: center;
  color: white;
}

input[type="submit"]:hover
{
  display: block;
  width: 80%;
  margin: 1em auto;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: blue;
  text-align: center;
  color: white;
}

.hoverlogin:hover
{
  color: white;
}

.hoverforgot:hover
{
  color: white;
}