body 
{
    background-image: url(https://fastly.picsum.photos/id/889/1080/720.jpg?hmac=UQUWxZ3XbMlWvwoOJhDtoEZyFVUrZBaK_ZWl6xVclO8);
    color: burlywood;
}

h1
{
    text-align: center;
}
input[type="submit"]
{
  display: block;
  width: 70%;
  margin: 1em auto;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: green;
  text-align: center;
  color: white;
}
form 
{
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  background: rgba(0,0,0,0.7); 
}
.email
{
    margin-top: -16.5px;
    text-align: center;
}
.back
{
    text-align: center;
}

.asd
{
    margin-left: 60px ;
}
.submit
{
    text-align: center;
}

input[type="submit"]:hover
{
  display: block;
  width: 70%;
  margin: 1em auto;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: blue;
  text-align: center;
  color: white;
}

.hoverback:hover
{
    color: burlywood;
}