body 
{
background-image: url(https://picsum.photos/1080/720?random=1)
}

h1
{
    text-align: center;
}
input[type="login"]
{
  display: block;
  width: 70%;
  margin: 1em auto;
  height: 1.5em;
  font-size: 1.1rem;
  background-color: green;
  text-align: center;
  color: white;
}
.email
{
    margin-top: -16.5px;
    text-align: center;
}
.back
{
    text-align: center;
}

.asd
{
    margin-left: 112px ;
}